<?xml version="1.0"?>
<!--
  * Goodminton
  *
  * Copyright 2016 Goodminton AG
  *
  * Licensed under the Apache License, Version 2.0 (the "License");
  * you may not use this file except in compliance with the License.
  * You may obtain a copy of the License at
  *
  *   http://www.apache.org/licenses/LICENSE-2.0
  *
  * Unless required by applicable law or agreed to in writing, software
  * distributed under the License is distributed on an "AS IS" BASIS,
  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  * See the License for the specific language governing permissions and
  * limitations under the License.
  *
  * @package     Goodminton_Languager
  * @author      Pierre Bernard <pierre.bernard@foodspring.com>
  * @copyright   Copyright (c) 2016 Goodminton AG (http://goodminton.ag)
  * @license     https://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
  -->
<config>
    <modules>
        <Goodminton_Languager>
            <version>0.1.0</version>
        </Goodminton_Languager>
    </modules>
    <global>
        <resources>
            <languager_setup>
                <setup>
                    <module>Goodminton_Languager</module>
                </setup>
            </languager_setup>
        </resources>
        <blocks>
            <goodminton_languager>
                <class>Goodminton_Languager_Block</class>
            </goodminton_languager>
        </blocks>
        <helpers>
            <goodminton_languager>
                <class>Goodminton_Languager_Helper</class>
            </goodminton_languager>
        </helpers>
        <models>
            <goodminton_languager>
                <class>Goodminton_Languager_Model</class>
            </goodminton_languager>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Goodminton_Languager>
                    <files>
                        <default>Goodminton_Languager.csv</default>
                    </files>
                </Goodminton_Languager>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <propagate_translation>
                        <type>singleton</type>
                        <class>goodminton_languager/observer</class>
                        <method>propagateProductAttributeTranslation</method>
                    </propagate_translation>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <propagate_translation>
                        <type>singleton</type>
                        <class>goodminton_languager/observer</class>
                        <method>propagateCategoryAttributeTranslation</method>
                    </propagate_translation>
                </observers>
            </catalog_category_save_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <goodminton_languager_config>
                                            <title>Languager</title>
                                        </goodminton_languager_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <goodminton_languager before="Mage_Adminhtml">Goodminton_Languager_Adminhtml</goodminton_languager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <goodminton_languager_config>
            <developer_options>
                <jquery>1</jquery>
                <jquery_ui>1</jquery_ui>
            </developer_options>
        </goodminton_languager_config>
    </default>
</config>

